In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import re

In [15]:
cwd=os.getcwd()
df=pd.read_csv(cwd+"/BA_reviews.csv", index_col=0)

In [16]:
df.head()

,reviews,stars,date,country
0,✅ Trip Verified | Check-in Desk rude and dism...,5,26th July 2023,(United Kingdom)
1,✅ Trip Verified | I chose British Airways espe...,2,25th July 2023,(Spain)
2,Not Verified | I booked Premium Economy from I...,1,24th July 2023,(United Kingdom)
3,✅ Trip Verified | A simple story with an unfor...,1,21st July 2023,(Germany)
4,✅ Trip Verified | Flight was delayed due to t...,1,21st July 2023,(United Kingdom)

In [17]:
df['verified']=df.reviews.str.contains("Trip Verified")

In [18]:
df['verified']

0       True
1       True
2      False
3       True
4       True
       ...
695    False
696     True
697    False
698     True
699     True
Name: verified, Length: 700, dtype: bool

In [21]:
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
lemma=WordNetLemmatizer()
reviews_data=df.reviews.str.strip("Trip Verified |")
corpus=[]
for rev in reviews_data:
    rev=re.sub('[^a-zA-Z]',' ',rev)
    rev=rev.lower()
    rev=rev.split()
    rev=[lemma.lemmatize(word)for word in rev if word not in set(stopwords.words("english"))]
    rev=" ".join(rev)
    corpus.append(rev)

In [22]:
df['corpus']=corpus

In [23]:
df.head()

,reviews,stars,date,country,verified,corpus
0,✅ Trip Verified | Check-in Desk rude and dism...,5,26th July 2023,(United Kingdom),True,trip verified check desk rude dismissive fligh...
1,✅ Trip Verified | I chose British Airways espe...,2,25th July 2023,(Spain),True,trip verified chose british airway especially ...
2,Not Verified | I booked Premium Economy from I...,1,24th July 2023,(United Kingdom),False,verified booked premium economy inv lax via lh...
3,✅ Trip Verified | A simple story with an unfor...,1,21st July 2023,(Germany),True,trip verified simple story unfortunate outcome...
4,✅ Trip Verified | Flight was delayed due to t...,1,21st July 2023,(United Kingdom),True,trip verified flight delayed due inbound fligh...

In [29]:
df.stars.unique()

array([nan,  1.,  3.])

In [30]:
df.stars=df.stars.value_counts()

In [31]:
df.drop(df[df.stars=="None"].index, axis=0, inplace=True)

In [32]:
df.stars.unique()

array([nan,  3.,  1.])

In [33]:
df.isnull().value_counts()

reviews  stars  date   country  verified  corpus
False    True   False  False    False     False     698
         False  False  False    False     False       2
dtype: int64

In [34]:
df.country.isnull().value_counts()

False    700
Name: country, dtype: int64

In [36]:
df.drop(df[df.country.isnull()==True].index, axis=0, inplace=True)

In [37]:
df.reset_index(drop=True)

,reviews,stars,date,country,verified,corpus
0,✅ Trip Verified | Check-in Desk rude and dism...,NaN,26th July 2023,(United Kingdom),True,trip verified check desk rude dismissive fligh...
1,✅ Trip Verified | I chose British Airways espe...,3.0,25th July 2023,(Spain),True,trip verified chose british airway especially ...
2,Not Verified | I booked Premium Economy from I...,NaN,24th July 2023,(United Kingdom),False,verified booked premium economy inv lax via lh...
3,✅ Trip Verified | A simple story with an unfor...,1.0,21st July 2023,(Germany),True,trip verified simple story unfortunate outcome...
4,✅ Trip Verified | Flight was delayed due to t...,NaN,21st July 2023,(United Kingdom),True,trip verified flight delayed due inbound fligh...
...,...,...,...,...,...,...
695,Not Verified | Fast and friendly check in (to...,NaN,20th July 2023,(United Kingdom),False,verified fast friendly check total contrast ga...
696,✅ Trip Verified | I don't understand why Brit...,NaN,20th July 2023,(United Kingdom),True,trip verified understand british airway classi...
697,Not Verified | I'm sure that BA have graduall...,NaN,20th July 2023,(United Kingdom),False,verified sure ba gradually made economy experi...
698,✅ Trip Verified | Customer Service does not e...,NaN,18th July 2023,(United Kingdom),True,trip verified customer service exist one world...
699,✅ Trip Verified | Another really great pair of...,NaN,17th July 2023,(United Kingdom),True,trip verified another really great pair flight...