In [ ]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [ ]:
reviews=[]
stars=[]
date=[]
country=[]

In [ ]:
for i in range(1,36):
    page=requests.get(f"https://www.airlinequality.com/airline-reviews/british-airways")
    soup=BeautifulSoup(page.content,"html5")
    for item in soup.find_all("div", class_="text_content"):
        reviews.append(item.text)
    for item in soup.find_all("div", class_="rating-10"):
        try:
            stars.append(item.span.text)
        except:
            print(f"Error on page {i}")
            stars.append("None")
    for item in soup.find_all("time"):
        date.append(item.text)
    for item in soup.find_all("h3"):
        country.append(item.span.next_sibling.text.strip("()"))

In [21]:
len(reviews)

700

In [22]:
len(country)

700

In [23]:
stars=stars[:700]

In [24]:
df=pd.DataFrame({"reviews":reviews, "stars":stars, "date":date, "country":country})

In [25]:
df.head()

,reviews,stars,date,country
0,✅ Trip Verified | Check-in Desk rude and dism...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,26th July 2023,(United Kingdom)
1,✅ Trip Verified | I chose British Airways espe...,2,25th July 2023,(Spain)
2,Not Verified | I booked Premium Economy from I...,1,24th July 2023,(United Kingdom)
3,✅ Trip Verified | A simple story with an unfor...,1,21st July 2023,(Germany)
4,✅ Trip Verified | Flight was delayed due to t...,1,21st July 2023,(United Kingdom)

In [27]:
df.shape

(700, 4)

In [28]:
import os
cwd=os.getcwd()
df.to_csv(cwd+"/BA_reviews.csv")